// Your variable overrides
$body-bg: #fff;

$theme-colors: (
  "primary": #c62828,
);
$gray-800: #343535 !default;

$navbar-padding-y: 1rem !default;
$navbar-padding-x: 1rem !default;
$navbar-nav-link-padding-x: 1.5rem !default;
$navbar-light-color: #111 !default;
$navbar-light-hover-color: #c62828 !default;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
@import "index";
@import "custom";
